doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(name="viewport" content="width=device-width")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title #{firstname} #{lastname}, you are one step away of joining FGPE AuthorKit!
        link(href="styles/style.css" media="all" rel="stylesheet" type="text/css" data-inline="data-inline")
    body.text-primary(itemscope="" itemtype="http://schema.org/EmailMessage")
        table.body-wrap
            tr
                td
                td.container(width="600")
                    .header
                        table(width="100%")
                            tr
                                td.content-block
                                    img(src="images/fgpe-logo.jpg" alt="FGPE Logo" class="logo")
                    .content
                        table.main(width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope="" itemtype="http://schema.org/ConfirmAction")
                            tr
                                td.content-wrap
                                    meta(itemprop="name" content="Confirm Email")
                                    table(width="100%" cellpadding="0" cellspacing="0")
                                        tr
                                            td.content-block
                                                p
                                                  | Hi #{firstname} #{lastname},
                                        tr
                                            td.content-block
                                                p
                                                  | We may need to send you critical information about our service, so it is important that we have an accurate email address.
                                        tr
                                            td.content-block
                                                p
                                                  | Please confirm your email address by clicking the link below.
                                        tr
                                            td.content-block.text-center(itemprop="handler" itemscope="" itemtype="http://schema.org/HttpActionHandler")
                                                a.btn-primary.text-secondary(href=app_host + ":" + app_port + "/pages/verify-email?token=" + token itemprop="url") Confirm my email address
                                        tr
                                            td.content-block
                                                p
                                                    | After validating your email, you will be able to use FGPE Authorkit for free forever.
                                                p
                                                    | Note: If you do not confirm your account in the next <strong>24 hours</strong>, it will be automatically deleted.
                                        tr
                                            td.content-block.greetings
                                                p
                                                    | Kind Regards,
                                                    br
                                                    | The FGPE Team
                    .footer
                        table(width="100%")
                            tr
                                td.content-block.aligncenter.text-secondary
                                    | Follow 
                                    a.text-secondary(href="http://twitter.com/fgpe-project") @fgpe-project 
                                    | on Twitter.


