| Dear FGPE Team,
| 
| You have received a new support request at FGPE AuthorKit.
|
| Name: #{user.first_name} #{user.last_name}
| Institution: #{user.institution}
| E-mail: #{user.email}
|
| Subject: #{email.subject}
| Message: #{email.description}
|
| 
| Kind Regards,
| The FGPE AuthorKit Agent
|
| Follow @fgpe-project on Twitter.
